body {
  background-color: #9ba4b4;
  color: #f1f6f9;
}

.header {
  color: #892cdc; 
  font-family: marker felt;
  background-color: #14274e;
  border: 1px solid black;
  padding-left:15px;
}

.footer {
  color: #892cdc;
  border: 1px solid black;
  background-color: #14274e;
  padding: 15px;
}

.mainBody {
  font-size:18px;
}


img {
  width: 75%;
}

ul {
  
}
